.page-header {
  position: relative;

  @media (min-width: $desktop-width) {
    &--index {
      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: -1px;
        z-index: -1;
        width: 50%;
        min-height: 696px;
        background-image: url("/img/index-background-desktop@1x.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $light-green-color;
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        &::after {
          background-image: url("/img/index-background-desktop@2x.jpg");
        }
      }
    }
  }
}

.page-header__container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  padding-bottom: 9px;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      width: 320px;
      position: absolute;
      background-color: #ededed;
      height: 1px;
      right: 0;
      top: 64px;
    }
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 0 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    justify-content: space-between;
    padding: 0 40px;
  }
}

.page-header__logo {
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 58px;
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 206px;
    height: 60px;
    padding-top: 53px;
    padding-left: 3px;
    margin-left: -5px;
  }
}
