.site-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 515px;
    justify-content: flex-end;
    background-color: transparent;
  }
}

.main-navigation--opened .site-list {
  @media (max-width: $mobile-width-only) {
    width: 320px;
  }
}

.main-navigation--opened .site-list__item {
  @media (max-width: $mobile-width-only) {
    padding: 20px 70px;
    text-align: center;
    border-top: 1px solid #e6e6e6;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: 1px solid #e6e6e6;
    }
  }
}

.main-navigation--closed .site-list__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.site-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 35px;
    padding-bottom: 20px;

    &:last-child {
      margin-right: 0;
    }

    &--current {
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 11px;
        left: 1px;
        height: 2px;
        background-color: $light-green-color;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 35px;
  }
}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    color: #111111;
  }
}

.page-header--index .site-list__link {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.page-header--index .site-list__item {
  @media (min-width: $desktop-width) {
    &--current {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 11px;
        left: 1px;
        height: 2px;
        background: #ffffff;
      }
    }
  }
}
