.advantages {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 81px;
    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.advantages__item {
  display: flex;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    width: 264px;
    padding-top: 2px;
    padding-right: 47px;
    padding-left: 72px;

    &--leaf,
    &--dining {
      padding-left: 0;
    }

    &--leaf,
    &--powder {
      margin-bottom: 129px;
    }

    &::after {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      z-index: -1;
      top: -106px;
      left: 119px;
      font-size: 280px;
      color: #f2f2f2;
    }

    &--powder {
      &::after {
        top: -104px;
        left: 183px;
      }
    }

    &--dining {
      &::after {
        top: -104px;
        left: 114px;
      }
    }

    &--clock {
      &::after {
        top: -104px;
        left: 185px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 245px;

    &--powder {
      padding-left: 79px;

      &::after {
        left: 192px;
      }
    }

    &--dining {
      padding-left: 80px;

      &::after {
        left: 196px;
      }
    }

    &--clock {
      padding-left: 81px;

      &::after {
        left: 194px;
      }
    }
  }
}

.advantages__image-wrapper {
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 5px;
  width: 63px;
  height: 58px;
  background-color: $light-green-color;

  @media (min-width: $tablet-width) {
    padding-left: 13px;
    padding-top: 15px;
    width: 63px;
    height: 67px;
  }

  @media (min-width: $desktop-width) {
    width: 63px;
    height: 66px;
  }
}

.advantages__image {
  @media (min-width: $tablet-width) {
    width: 55px;
  }
}

.advantages__description {
  padding-top: 1px;
  padding-left: 20px;
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &--clock {
    padding-right: 5px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 32px;
    font-size: 16px;
    line-height: 24px;

    &--clock {
      width: 246px;
    }
  }
}

.advantages__shift {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
