.programs {
  @media (min-width: $tablet-width) {
    margin-top: -38px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -182px;
  }
}

.programs__visually-hidden {
  @include visually-hidden;
}

.programs__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 46px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.programs__inner {
  display: flex;
  padding-left: 1px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
}
