.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__legend {
  margin-bottom: 35px;
  padding-left: 20px;
  width: 200px;
  font-size: 24px;
  line-height: 24px;
  color: $black-color;
  background-color: #ffffff;


  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
    padding-left: 40px;
    padding-right: 40px;
    width: 512px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 555px;
    margin-bottom: 73px;
    margin-left: -39px;
    padding-left: 38px;
    padding-right: 0;
  }
}

.contacts__box {
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 0;
  }
}

.contacts__container {
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 5px;

    &--e-mail {
      margin-bottom: 6px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    &--e-mail {
      margin-right: 81px;
    }
  }
}

.contacts__label {
  margin-right: 13px;
  padding-top: 7px;
  font-size: 16px;
  line-height: 18px;
  color: $black-color;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 7px;
  }

  &--radio {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 17px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    font-size: 20px;
    line-height: 20px;

    &--e-mail {
      padding-top: 12px;
    }

    &--phone {
      margin-right: 16px;
      padding-top: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 21px;

    &--phone {
      padding-top: 10px;
    }
  }
}

.contacts__input {
  height: 38px;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:active {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }

  &--e-mail {
    margin-bottom: 15px;
    padding-left: 10px;
    width: 203px;
  }

  &--phone {
    width: 187px;
    padding-left: 10px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    padding-left: 18px;
    height: 46px;

    &--e-mail {
      width: 529px;
    }

    &--phone {
      width: 513px;
    }
  }

  @media (min-width: $desktop-width) {
    &--e-mail {
      width: 462px;
    }

    &--phone {
      width: 446px;
    }
  }
}

.contacts__input:active + .contacts__input-icon {
  fill: #68b738;
}

.contacts__input:invalid + .contacts__input-icon {
  fill: #ff8282;
}

.contacts__input-icon {
  position: absolute;
  top: 14px;
  left: 246px;
  fill: #222222;

  @media (min-width: $tablet-width) {
    top: 19px;
    left: 600px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    left: 534px;
  }
}
