.personal-information {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      width: 320px;
      height: 1px;
      position: absolute;
      left: -40px;
      background-color: #ededed;
    }
  }
}

.personal-information__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.personal-information__item {
  display: flex;
}

.personal-information__label {
  margin-right: 14px;
  padding-top: 9px;
  font-size: 16px;
  line-height: 18px;
  color: $black-color;
  text-transform: uppercase;

  &--weight {
    margin-right: 18px;
  }

  &--age {
    padding-top: 13px;
    margin-bottom: 8px;
  }

  &--radio {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 17px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 18px;
    font-size: 20px;
    line-height: 20px;

    &--weight {
      margin-right: 22px;
    }

    &--age {
      padding-top: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;

    &--name {
      margin-right: 18px;
    }

    &--weight {
      margin-right: 23px;
      padding-top: 11px;
    }

    &--age {
      padding-top: 14px;
      margin-right: 17px;
    }
  }
}

.personal-information__field {
  margin-bottom: 15px;
  padding-left: 14px;
  height: 40px;
  border: 1px solid #cdcdcd;

  &--name {
    width: 213px;
  }

  &--weight {
    width: 186px;
  }

  &--age {
    margin-bottom: 24px;
    width: 156px;
  }

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:active {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    padding-left: 19px;
    height: 46px;

    &--name {
      width: 546px;
    }

    &--weight {
      width: 515px;
    }

    &--age {
      width: 477px;
    }
  }

  @media (min-width: $desktop-width) {
    &--name {
      width: 484px;
    }

    &--weight {
      width: 451px;
    }

    &--age {
      width: 414px;
    }
  }
}
