.card-product {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.card-product__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}

.card-product__title {
  margin: 0;
  padding-bottom: 9px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.card-product__table {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.card-product__row {
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 155px;

    &--sugar {
      width: 221px;
    }

    &--milk {
      width: 137px;
    }

    &--vitamins {
      width: 212px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 291px;
    padding-right: 16px;

    &--water {
      width: 283px;
      padding-right: 23px;
    }
  }
}

.card-product__cell {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  &:first-child {
    margin-left: -5px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &:first-child {
      margin-left: -2px;
    }

    &:last-child {
      margin-right: -7px;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card-product__button-to-order {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $light-green-color;
  border: none;

  @media (min-width: $tablet-width) {
    width: 635px;
    margin-left: -2px;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
    }
  }

  @media (min-width: $desktop-width) {
    width: 247px;
    height: 40px;
    margin-left: 17px;
  }
}

.card-product__button-to-order-title {
  @media (min-width: $tablet-width) {
    &:active {
      opacity: 0.3;
    }
  }
}
