.extra-goods {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: $mobile-width-only) {
    margin-top: 52px;
  }
}

.extra-goods__heading {
  position: relative;
  margin: 0;
  margin-bottom: 34px;
  padding-left: 18px;
  padding-right: 2px;
  width: 246px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black-color;
  background-color: #ffffff;


  @media (min-width: $tablet-width) {
    padding-left: 36px;
    padding-right: 0;
    margin-bottom: 81px;
    width: 375px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
    margin-left: -39px;
    padding-left: 37px;
  }
}

.extra-goods__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.extra-goods__box {
  @media (max-width: $mobile-width-only) {
    padding-left: 20px;
  }
}

.extra-goods__wrapper {
  padding-top: 14px;
  padding-bottom: 17px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 37px;
    border: 1px solid #d9d9d9;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid #d9d9d9;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-left: 2px;
    padding-bottom: 1px;
    border: none;
    border-top: 1px solid #d9d9d9;
  }
}
