.product {
  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 26px;

    &::after {
      content: "";
      width: 320px;
      position: absolute;
      top: 207px;
      background-color: #ededed;
      height: 1px;
      right: -20px;
      z-index: 1;
    }

    &:first-child {
      margin-top: 31px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 42px;
    margin-top: 145px;
    width: 324px;
    background-color: #f2f2f2;

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      margin-top: 137px;
    }

    &:nth-child(7) {
      margin-top: 138px;
      padding-bottom: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 247px;
    padding-bottom: 38px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 145px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      margin-top: 144px;
    }

    &:nth-child(7) {
      margin-top: 143px;
      padding-bottom: 36px;
    }
  }
}

.product__image {
  @media (max-width: $mobile-width-only) {
    width: 140px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 140px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 324px;

    &--small {
      margin-bottom: -12px;
      bottom: 46px;
      height: 172px;
    }

    &--big {
      bottom: 81px;
      margin-bottom: -48px;
      height: 208px;
    }
  }

  @media (min-width: $desktop-width) {
    &--small {
      bottom: 45px;
      width: 245px;
      height: 172px;
    }

    &--big {
      bottom: 81px;
      width: 245px;
      height: 208px;
    }
  }
}

.product__body {
  @media (max-width: $mobile-width-only) {
    padding-top: 21px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    &:nth-child(3) {
      margin-top: 5px;
    }
  }
}

.product__name {
  margin: 0;
  width: 100px;
  font-size: 16px;
  line-height: 20px;
  color: $black-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 140px;
    font-size: 20px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.product__table {
  margin-top: 11px;
  margin-left: -4px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
  }
}

.product__row {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-top: -2px;


  @media (min-width: $tablet-width) {
    width: 250px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    width: 166px;
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

.product__column {
  margin-right: -4px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-left: 2px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -1px;
  }
}

.product__order-button {
  margin-top: -5px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: $light-green-color;
  color: #ffffff;
  text-transform: uppercase;
  border: none;

  @media (max-width: $mobile-width-only) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 94px;
    padding-right: 94px;
    border: none;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -1px;
    padding-left: 53px;
    padding-right: 54px;
  }
}

.product__button-title {
  @media (min-width: $tablet-width) {
    &:active {
      opacity: 0.3;
    }
  }
}
