@font-face {
  font-family: "Roboto-Light";
  src: local("Robot-Light"),
       url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Robot-Regular"),
       url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Robot-Bold"),
       url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}