.main-works {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border-collapse: collapse;
}

.main-works__title { 
  font-family: "Roboto-Bold";

  &:first-child {
    padding-left: 15px;
    text-align: center;
  }

  @media(min-width: $tablet-width) {
    width: 280px;
    text-align: left;

    &:first-child {
      text-align: left;
      padding-left: 27px;
    }
  }

  @media(min-width: $desktop-width) {
    width: 400px;
    padding-left: 65px;
    padding-top: 20px;
    padding-bottom: 10px;

    &:first-child {
      text-align: left;
      padding-left: 40px;
    }
  }
}

.main-works__image {
  padding-right: 15px;

  @media(min-width: $tablet-width) {
    padding-right: 25px;
    padding-top: 10px;
  }

  @media(min-width: $desktop-width) {
    width: 400px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.main-works__icon {
  @media(min-width: $desktop-width) {
    position: relative;
    right: 95px;
  }
}

.main-works__item {
  padding-left: 20px;
  padding-right: 20px;

  &:not(:first-child) {
    cursor: pointer;
  }  

  &:nth-of-type(even) {
    background-color: #fbfbfb;
  }

  &:hover:not(:first-child) {
    background-color: #ffd8bb;
  }

  &:active:not(:first-child) {
    background-color: #ffffff;
  }
}

.main-works__item td {
  @media(min-width: $desktop-width) {
    width: 400px;
  } 
}

.main-works__name,
.main-works__price {
  font-family: "Roboto-Regular";
  font-weight: 400;
}

.main-works__name {
  width: 140px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;

    &:before {
      content: "";
      position: absolute;
      left: 20px;
      background-image: url("/img/string-icon.svg");
      background-repeat: no-repeat;
      width: 29px;
      height: 29px;
    } 
  }

  @media(min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 65px;

    &:before {
      content: "";
      position: absolute;
      left: 30px;
      background-image: url("/img/string-icon.svg");
      background-repeat: no-repeat;
      width: 29px;
      height: 29px;
    }
  }
}

.main-works__price {
  position: relative;

  @media(min-width: $desktop-width) {
    padding-left: 65px;
  }
}

.main-works__item:hover > .main-works__price {
  @media(min-width: $tablet-width) {
    &:after {
      content: "3 года гарантии";
      position: absolute;
      right: 30px;
      font-family: "Roboto-Bold";
      font-weight: 700;
    } 
  }

  @media(min-width: $desktop-width) {
    &:after {
      content: "3 года гарантии";
      position: absolute;
      right: 100px;
      font-family: "Roboto-Bold";
      font-weight: 700;
    } 
  }
}


.main-works__item:hover > td .main-works__btn-to-order-wrapper{
  background-image: linear-gradient(to right, #ffb000, #ff7a21);
  box-shadow: 0 0 18px 3px rgba(255, 181, 21, 0.5);
  border: none;
}

.main-works__item:hover > .main-works__name::before {
  content: "";
  background-image: url("/img/string-orange-icon.svg");
  background-repeat: no-repeat;
}


.main-works__item:active > .main-works__name {
  position: relative;

  @media(min-width: $tablet-width) {
    
    &::before {
      content: "";
      z-index: 2;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 20px;
      background-image: url("/img/string-icon.svg");
      background-repeat: no-repeat;
    }  

    &::after {
      content: "";
      z-index: 1;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 15px;
      bottom: 13px;
      border-radius: 50%;
      background-image: linear-gradient(to right, #ffb000, #ff7a21);
    } 
  }  

  @media(min-width: $desktop-width) {
    &::before {
      content: "";
      z-index: 2;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 30px;
      background-image: url("/img/string-icon.svg");
      background-repeat: no-repeat;
    }  
  
    &::after {
      content: "";
      z-index: 1;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 24px;
      bottom: 13px;
      border-radius: 50%;
      background-image: linear-gradient(to right, #ffb000, #ff7a21);
    } 
  }
}  

.main-works__btn-to-order-wrapper {
  margin-right: 10px;
  border: 2px solid #f5f5f5;
  background-color: #fbfbfb;
  border-radius: 15px;
 
  
  @media(min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    width: 155px;
    margin-right: 10px;
  }

  @media(min-width: $desktop-width) {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
    width: 124px;
    margin-right: 10px;
  }
}

.main-works__btn-to-order {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto-Bold";
  font-weight: 700;
  color: #bcc8ce;

  @media(min-width: $desktop-width) {
    padding: 0;
  }
}

.main-works__item:hover > td .main-works__btn-to-order-wrapper a {
  color: #000000;
}

.main-works__item:active > td .main-works__btn-to-order-wrapper {
  box-shadow: none;
  background-image: linear-gradient(to right, #ffb000, #ff7a21);
  border: none;
}

.main-works__item:active > td .main-works__btn-to-order-wrapper a {
  color: #000000;
}


.main-works__footer {
  position: absolute;
  left: 95px;
  bottom: -35px;

  @media(min-width: $tablet-width) {
    bottom: -50px;
  }
}

.main-works__show {
  position: relative;
  font-family: "Robot-Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 5px;
  color: #1d2d5d;
  text-decoration: none;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -22px;
    top: 5px;
    background-image: url("/img/arrow-button.png");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    width: 45px;
    height: 23px;
    position: absolute;
    left: 105px;
    top: -3px;
    background-image: url("/img/eye.png");
    background-repeat: no-repeat;
  }

  @media(min-width: $tablet-width) {
    font-size: 22px;

    &::before {
      left: -25px;
      top: 10px;
    }

    &::after {
      left: 150px;
      top: 2px;
    }
  }

  @media(min-width: $desktop-width) {
    &::after {
      left: 140px;
    }
  } 
} 

.main-works__footer td {
  border: none;
}

[id^="all"] {
  position: fixed; 
}
[id^="all"]:target + table a[href^="#all"],
[id^="all"]:not(:target) + table tbody tr:nth-of-type(n+9),
[id^="all"]:not(:target) + table a[href="#close"] {
  display: none;
}