
.prices__box,
.prices__inner {
  margin: 0 auto;
  padding:  0 20px;

  @media(min-width: $desktop-width) {
    width: 1160px;
    
  }
}  

.prices__box {
  padding-left: 20px;
}


.prices__wrapper {
  padding-bottom: 50px;
  padding-top: 20px;
  background-image: linear-gradient(to right, #11ffeb, #00ffb5);
  border-radius: 2%;

  @media(min-width: $tablet-width) {
    padding-bottom: 70px;
  }
}

.prices__title {
  font-size: 25px;
  line-height: 6px;
  font-family: "Roboto-Light";
  font-weight: 300;

  @media(min-width: $desktop-width) { 
    font-size: 35px;
  }
}

