$light-green-color: #68b738;
$black-color: #111111;
$main-dark-color: #111111;
$mobile-width-only: 767px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$font-arial: "Arial", "Helvetica", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;
